body {
    background-color: black;
    text-align: center;
}

.top {
    margin:auto;
    width: 100%;
    display:grid;
    grid-template-areas: 'l t';
    grid-template-columns: 25% 50%;
    border-radius: 10px;
    border-style: solid;
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
}

.logo {
    grid-area: l;
    width:50%;
}

.title {
    grid-area: t;
    font-size: 7.5vw;
}

.card {
    margin-top: 10%;
    display: inline-block;
    width: fit-content;
    text-align: center;
    background-color:darkslategrey;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

.cover{
    margin: 5px;
    width: 300px;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

.links {
    color: white;
}
