@font-face {
    font-family: myFont;
    src: url("pricedown bl.otf");
}

* {
    font-family: myFont;
 }

.top {
    grid-area: h;
    margin:auto;
    width: 100%;
    display:grid;
    grid-template-areas: 'l t';
    grid-template-columns: 25% 50%;
    border-radius: 10px;
    border-style: solid;
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
}

.options {
    grid-area: o;
    width:25%;
}

.logo {
    grid-area: l;
    /* -ms-grid-column-align: center; */
    width:50%;
}

.title {
    /* font-family: myFont; */
    grid-area: t;
    font-size: 7.5vw;
    -webkit-text-stroke: 5px black;
}

#gridContainer {
    display: grid;
    grid-template-areas:
        'h h h'
        '1 1 1'
        '1 1 1';
    text-align: center;
}

