.top {
    margin:auto;
    width: 100%;
    display:grid;
    grid-template-areas: 
        "l t";
    grid-template-columns: 25% 50%;
    border-radius: 10px;
    border-style: solid;
    background-color: blue;
    color: white;
    align-items: center;
    text-align: center;
}

.options {
    grid-area: o;
    width:25%;
}

.logo {
    grid-area: l;
    /* -ms-grid-column-align: center; */
    width:50%;
}

.title {
    grid-area: t;
    font-size: 7.5vw;
    -webkit-text-stroke: 1px black;
}

#gridContainer {
    display: grid;
    grid-template-areas:
        '1 1 1'
        '1 1 1'
        '1 1 1';
    text-align: center;
}
